<a href="https://colab.research.google.com/github/cmrdanl/cmrdanl.github.i/blob/main/danl_210_hw1_Roos_Caitlin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Due 17 February 10:30 AM

## Part 3

Question 0 : My GitHub username is **cmrdanl**

In [ ]:
# Question 1a

list = [1,2,3,4,5,6,7,8,9,10]

list.append(11)

list.remove(5)

print(list)

In [ ]:
# Question 1b

dict_salaries = {'Alice': 50000, 'Bob': 60000, 'Charlie': 70000}

dict_salaries.update({'Dana': 65000})
dict_salaries.update({'Alice':55000})


for x in dict_salaries:
  print(str(x) + ' makes $' + str(dict_salaries[x]))

In [ ]:
# Question 2a

salary_2a = 75000

while True:
  if salary_2a < 50000:
    print('Low')
    break
  elif salary_2a in range(50000,99999):
    print('Medium')
    break

  else:
    print("High")
    break

In [ ]:
# Question 2b
role ='Manager'

salary_2b = 85000

while True:

  if salary_2b > 80000:

    if role == 'Manager':
      print("Eligible for bonus")
      break
    else:
      print('No action needed')
      break

  elif salary_2b < 60000:

    if role == 'Analyst':
      print('Eligible for raise')
      break
    else:
      print('No action needed')
      break
  else:
    print('No action needed')
    break

In [ ]:
# Question 3a

list_salaries = [45000, 60000, 75000, 120000, 30000]

sum_ = 0
#initiating the sum to be 0 at 1st

for x in list_salaries:
  sum_ = sum_ + x
# a function to sum up the salaries for me
av_sal = sum_/len(list_salaries)
#taking average

for x in range(len(list_salaries)):

  if int(list_salaries[x]) <av_sal :
    print(str(list_salaries[x]) +' is Below Average')

  elif int(list_salaries[x]) > av_sal :
    print(str(list_salaries[x]) +' is Above Average')

  else:
    print('Tis is the average salary')
    # I added this as it's completely possible that someone could be making the average salary of 66000

In [ ]:
# Question 3b

salary_3b = 50000

while salary_3b <= 80000:

  salary_3b += 5000

  print(salary_3b)

  continue

In [ ]:
# Question 3c

salaries = {'Alice': 50000, 'Bob': 60000, 'Charlie': 70000, 'Dana': 45000}

salaries.get('Alice')

for x in salaries:
# will go through list
  if int(salaries.get(x)) > 55000:
    # only if over 55000
    print(x)

In [ ]:
# Question 3d
data_list = [42, 3.14, 'Data Analytics', True, None, [1, 2, 3], {'key': 'value'}, (4, 5)]

for x in data_list:
  if type(x) == int:
    print(type(str(x)))

  elif type(x) == float:
    x = str(3.14)
    print(type(float(x)))

  elif type(x) == bool:
    print(type(int(x)))

  else:
    print(type(x))

In [33]:
# Question 4a
a = 10
b = 0

try:
  print(a/b)

except:
  print('Cannot divide by zero!')

Cannot divide by zero!

In [49]:
from functools import total_ordering
# Question 4b
salaries = {'Alice': 50000, 'Bob': None, 'Charlie': 70000, 'Dana': None, 'Eve': 80000}
total = 0

for x in salaries:
  try:
    total += salaries.get(x)
  except:
    total = total

print(total)

200000

In [55]:
# Question 5
import math as mth

sq = mth.sqrt(81)

print(sq)

9.0