<a href="https://colab.research.google.com/github/cmrdanl/cmrdanl.github.i/blob/main/danl_210_hw2_Roos_Cailtin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1

In [1]:
# Data Frame for section 1
import pandas as pd
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2024.csv')

In [2]:
# Question 1

import pandas as pd
nyc_Q1 = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2024.csv', usecols= ["First_Name","Last_Name","Base_Salary","Total_OT_Paid"])

nyc_Q1.nlargest(10,"Base_Salary")

     Last_Name First_Name  Base_Salary  Total_OT_Paid
2090  MILEWSKI     YVONNE     221268.0        2820.39
1825   GODINER    KENNETH     221000.0           0.00
3964    JORDAN      BRUCE     215861.0           0.00
1062      KATZ    MELINDA     212800.0           0.00
277    HARTZOG    MELANIE     207518.0           0.00
2580  BOORSTYN       ERIC     193968.0           0.00
370    RUSSELL     JOANNE     191468.0           0.00
2007     KELLY    PATRICK     185886.0           0.00
1412    SNYDER    DEIRDRE     184250.0           0.00
2087     MALUF       OLGA     183201.0           0.00

In [3]:
# Question 2

nyc_Q2 = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2024.csv',
                     usecols=["Last_Name", "Agency_Name","Base_Salary",'Total_OT_Paid']).set_index('Last_Name')

nyc_Q2.loc['BROWN']

                              Agency_Name  Base_Salary  Total_OT_Paid
Last_Name
BROWN                   POLICE DEPARTMENT     51574.00           0.00
BROWN       DEPT OF HEALTH/MENTAL HYGIENE     35538.00           0.00
BROWN      DEPT OF ED PER SESSION TEACHER        33.18           0.00
BROWN              DEPT OF ED PEDAGOGICAL     55670.00           0.00
BROWN          DEPT. OF HOMELESS SERVICES     39438.00           0.00
BROWN               NYC HOUSING AUTHORITY     40201.00         471.35
BROWN      BOARD OF ELECTION POLL WORKERS         1.00           0.00
BROWN       DEPT OF HEALTH/MENTAL HYGIENE    111288.00           0.00
BROWN       DEPT OF ED HRLY SUPPORT STAFF        12.66           0.00
BROWN            DEPARTMENT OF SANITATION     77318.00       10669.03
BROWN       DEPT OF ED HRLY SUPPORT STAFF        16.19           0.00
BROWN       DEPARTMENT OF EDUCATION ADMIN     68664.00           0.00
BROWN              DEPT OF ED PEDAGOGICAL     69977.00           0.00
BROWN       DEPT OF ED PARA PROFESSIONALS     26946.00           1.76
BROWN                   POLICE DEPARTMENT    125531.00       35904.74
BROWN            DEPARTMENT OF CORRECTION     92073.00        3253.36
BROWN       DEPARTMENT OF EDUCATION ADMIN     65663.00           0.00

In [4]:
# Question 3

nyc_Q3 = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2024.csv',
                     usecols=["First_Name","Last_Name", "Regular_Gross_Paid","OT_Hours"])

top_5 = nyc_Q3.nlargest(5,"Regular_Gross_Paid")

top_5['OT_Hours'].mean()

5.0

In [5]:
# Question 4

#Sort the DataFrame by “Fiscal_Year” and “Total_Other_Pay” in descending order, then
#set “First_Name” as the index and use the loc accessor
# to retrieve the “Total_Other_Pay” for a specific first name, say “MICHAEL”.

nyc_Q4 = nyc_payroll.sort_values(["Fiscal_Year","Total_Other_Pay"],ascending=(False,False))

nyc_Q4.set_index("First_Name").loc["MICHAEL"]['Total_Other_Pay']

#last pair of [] above tells comp. to display only the selected column with the index

First_Name
MICHAEL    27959.35
MICHAEL    17884.91
MICHAEL     9331.02
MICHAEL     2529.38
MICHAEL      475.00
             ...
MICHAEL        0.00
MICHAEL        0.00
MICHAEL        0.00
MICHAEL        0.00
MICHAEL        0.00
Name: Total_Other_Pay, Length: 74, dtype: float64

In [6]:
# Question 5

nyc_payroll['Total_Compensation'] = nyc_payroll["Base_Salary"] + nyc_payroll["Total_OT_Paid"]

nyc_Q4 = nyc_payroll.sort_values("Work_Location_Borough", ascending=True)

nyc_Q4.sort_values("Total_OT_Paid", ascending=True)

,Fiscal_Year,Payroll_Number,Agency_Name,Last_Name,First_Name,Mid_Init,Agency_Start_Date,Work_Location_Borough,Title_Description,Leave_Status_as_of_June_30,Base_Salary,Pay_Basis,Regular_Hours,Regular_Gross_Paid,OT_Hours,Total_OT_Paid,Total_Other_Pay,Total_Compensation
238,2017,NaN,POLICE DEPARTMENT,VEGA,JAYDEEN,NaN,07/22/2002,MANHATTAN,POLICE OFFICER,CEASED,79594.00,per Annum,0.0,1042.09,0.00,-0.42,-873.15,79593.58
3541,2022,996.0,NYC HOUSING AUTHORITY,HILL,EVELYN,NaN,01/24/1994,BRONX,HOUSING ASSISTANT,CEASED,63367.00,per Annum,1330.0,51040.90,0.00,0.00,1078.55,63367.00
131,2017,NaN,DEPT OF ED PEDAGOGICAL,MARQUEZ,GRIZEL,NaN,09/03/2013,MANHATTAN,TEACHER,ACTIVE,63037.00,per Annum,0.0,60622.20,0.00,0.00,0.00,63037.00
132,2017,NaN,DEPT OF ED PEDAGOGICAL,BRACERO,DYALMA,NaN,09/03/1996,MANHATTAN,TEACHER,ACTIVE,97133.00,per Annum,0.0,93610.44,0.00,0.00,0.00,97133.00
134,2020,742.0,DEPT OF ED PEDAGOGICAL,SANTIAGO,TIFFANY,NaN,09/04/2018,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,77246.00,per Annum,0.0,69788.33,0.00,0.00,12266.77,77246.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2863,2023,72.0,DEPARTMENT OF CORRECTION,CARSWELL SR,TROHN,G,01/17/2008,QUEENS,CORRECTION OFFICER,ACTIVE,92073.00,per Annum,2000.0,90920.94,1323.98,93401.81,14093.67,185474.81
3089,2020,996.0,NYC HOUSING AUTHORITY,JAKUBOWSKI,RONALD,NaN,03/01/2004,BROOKLYN,CARPENTER,ACTIVE,364.14,per Day,1820.0,94595.83,1314.50,99547.80,3642.17,99911.94
1187,2023,72.0,DEPARTMENT OF CORRECTION,CODY,MARK,A,08/12/2004,MANHATTAN,CORRECTION OFFICER,ACTIVE,92073.00,per Annum,2080.0,91444.86,1338.50,103750.00,20168.93,195823.00
2498,2020,996.0,NYC HOUSING AUTHORITY,CASE,BRIAN,NaN,03/29/1993,BROOKLYN,SUPERVISOR PAINTER,ACTIVE,334.32,per Day,1820.0,86923.20,1488.75,106654.05,13094.30,106988.37
1228,2014,996.0,NYC HOUSING AUTHORITY,"HOCK, JR.",DANIEL,NaN,01/04/1988,NaN,SUPERVISOR PLUMBER,ACTIVE,339.57,per Day,1825.0,88288.20,1323.00,123664.33,1891.89,124003.90

In [7]:
# Question 6


has_OT = nyc_payroll[nyc_payroll['OT_Hours']!= 0]


has_OT["OT_Rate"] = has_OT['Total_OT_Paid'] / has_OT['OT_Hours']

We_Want = ['First_Name', 'Last_Name', 'OT_Rate']

has_OT.nlargest(1, 'OT_Rate')[We_Want]

<ipython-input-7-1040c63f1070>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  has_OT["OT_Rate"] = has_OT['Total_OT_Paid'] / has_OT['OT_Hours']

     First_Name Last_Name  OT_Rate
4224     SHARON     GOMEZ  155.836

In [8]:
# Question 7

cols =[ 'First_Name', 'Last_Name', 'Title_Description', 'Base_Salary', 'Total_OT_Paid', 'Total_Compensation']
### Ensure cell for Question 5 has been run
D_E_A = nyc_payroll[nyc_payroll['Agency_Name'] == "DEPARTMENT OF EDUCATION ADMIN"][cols]

D_E_A

,First_Name,Last_Name,Title_Description,Base_Salary,Total_OT_Paid,Total_Compensation
79,BETH,SHIELS,PHYSICAL THERAPIST,81186.0,0.00,81186.00
318,SWETA,GANDHI,BOOKKEEPER,47372.0,16722.97,64094.97
340,CLARE,PURCELL,SECRETARY,45384.0,0.00,45384.00
401,NYESHA,EVANS,CUSTOMER INFORMATION REPRESENTATIVE,67683.0,19.79,67702.79
443,SAMANTHA,ELIAS,COMMUNITY COORDINATOR,76385.0,0.00,76385.00
...,...,...,...,...,...,...
4798,RENEI,JOHNSON,COMMUNITY ASSISTANT,29318.0,48.14,29366.14
4835,MICHELLE,TIFLINSKY,SENIOR OCCUPATIONAL THERAPIST,64040.0,9.72,64049.72
4870,REBEKHA,ASKEW,ADMINISTRATIVE EDUCATION OFFICER,108841.0,0.00,108841.00
4903,NICOLA,SINCLAIR,OCCUPATIONAL THERAPIST,81186.0,37.48,81223.48
4942,ELLEN,MORELLO,PHYSICAL THERAPIST,67888.0,0.00,67888.00

In [9]:
# Question 8

ten_per = len(nyc_payroll['Base_Salary'])/10 # will yield number that would represent 10% of the company

ten_percenters = nyc_payroll.nlargest(int(ten_per), "Base_Salary", keep= "all")

print( str(len(ten_percenters)) + " employes have a salary in the top 10% of the company.")

500 employes have a salary in the top 10% of the company.

In [10]:
# Question 9

nyc_payroll.query(" OT_Hours > 0 & OT_Hours < 100 & Leave_Status_as_of_June_30 == 'ACTIVE' ")

,Fiscal_Year,Payroll_Number,Agency_Name,Last_Name,First_Name,Mid_Init,Agency_Start_Date,Work_Location_Borough,Title_Description,Leave_Status_as_of_June_30,Base_Salary,Pay_Basis,Regular_Hours,Regular_Gross_Paid,OT_Hours,Total_OT_Paid,Total_Other_Pay,Total_Compensation
6,2014,841.0,DEPARTMENT OF TRANSPORTATION,LOMUNTAD,LUIS,V,11/28/2004,NaN,DECKHAND,ACTIVE,49793.0,per Annum,1668.38,49650.65,72.00,7289.37,3819.73,57082.37
39,2015,NaN,FIRE DEPARTMENT,CIRINO,VINCENT,C,10/15/1990,MANHATTAN,CAPTAIN,ACTIVE,117145.0,per Annum,2085.72,121939.16,14.00,1305.47,20076.23,118450.47
71,2020,906.0,DISTRICT ATTORNEY-SPECIAL NARC,NaN,NaN,NaN,06/11/2018,MANHATTAN,SENIOR RACKETS INVESTIGATOR - START >4-24-08 N...,ACTIVE,67012.0,per Annum,2080.00,64551.27,27.00,1290.10,7993.00,68302.10
91,2019,806.0,HOUSING PRESERVATION & DVLPMNT,SALAS,JESSICA,A,04/19/2004,MANHATTAN,ADMIN COMMUNITY RELATIONS SPECIALIST,ACTIVE,58926.0,per Annum,1809.25,58681.36,30.75,1487.66,135.71,60413.66
104,2020,806.0,HOUSING PRESERVATION & DVLPMNT,DESTINOBLE-NEUS,ANNE-LOISE,D,01/06/2020,MANHATTAN,COMMUNITY ASSOCIATE,ACTIVE,38333.0,per Annum,840.00,17443.61,7.00,167.85,0.00,38500.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,2022,740.0,DEPARTMENT OF EDUCATION ADMIN,SINCLAIR,NICOLA,S,09/08/2009,QUEENS,OCCUPATIONAL THERAPIST,ACTIVE,81186.0,per Annum,1664.00,80815.89,0.50,37.48,14172.85,81223.48
4911,2021,56.0,POLICE DEPARTMENT,QUINONES,CLAIRE,NaN,07/06/2011,MANHATTAN,POLICE OFFICER,ACTIVE,85292.0,per Annum,2080.00,85051.84,87.25,4022.93,19385.83,89314.93
4949,2020,827.0,DEPARTMENT OF SANITATION,FIGUEROA,RICARDO,A,10/09/2007,BROOKLYN,SANITATION WORKER,ACTIVE,77318.0,per Annum,2080.00,70356.48,32.00,2293.47,3729.19,79611.47
4979,2015,NaN,POLICE DEPARTMENT,MARGOLIS,JASON,S,07/18/1996,QUEENS,LIEUTENANT,ACTIVE,117145.0,per Annum,2085.72,119504.86,8.75,1100.95,25296.48,118245.95
4992,2018,69.0,HRA/DEPT OF SOCIAL SERVICES,PECHERA,JAMES,O,04/25/2011,QUEENS,JOB OPPORTUNITY SPECIALIST,ACTIVE,45378.0,per Annum,1410.75,35823.90,6.25,222.59,2036.87,45600.59

In [11]:
# Question 10
# Ensure Question 7 run

D_E_A['Title_Description'].unique()
_list = ''

for x in D_E_A['Title_Description'].unique():
  _list += x + ' , '
  continue

print('The different job titles in the Dep of Ed Admin are: ' + _list)
print( "There are " + str(D_E_A['Title_Description'].nunique()) + " different job titles")

The different job titles in the Dep of Ed Admin are: PHYSICAL THERAPIST , BOOKKEEPER , SECRETARY , CUSTOMER INFORMATION REPRESENTATIVE , COMMUNITY COORDINATOR , SCHOOL LUNCH AIDE , COMMUNITY ASSOCIATE , OCCUPATIONAL THERAPIST , COMMUNITY ASSISTANT , SCHOOL COMPUTER TECHNOLOGY SPECIALIST , SENIOR OCCUPATIONAL THERAPIST , ADMINISTRATIVE EDUCATION ANALYST , SCHOOL BUSINESS MANAGER , CLERICAL ASSOCIATE , STAFF NURSE , ADMINISTRATIVE EDUCATION OFFICER , COMPUTER SERVICE TECHNICIAN , PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2 NON SUPVR , SENIOR SCHOOL LUNCH AIDE , ADMINISTRATIVE STAFF ANALYST , SCHOOL FOOD SERVICE MANAGER , ADMINISTRATIVE PROCUREMENT ANALYST , PROCUREMENT ANALYST , EDUCATION OFFICER , SUPERVISING THERAPIST , PLASTERER , SCHOOL LUNCH ASSISTANT COOK , ASSOCIATE QUALITY ASSURANCE SPECIALIST , AGENCY ATTORNEY , EXTERMINATOR , SUPERVISOR OF NURSES , CONFIDENTIAL INVESTIGATOR , SUBSTANCE ABUSE PREVENTION & INTERVENTION SPECIALIST , COMPUTER SPECIALIST , ASSOCIATE INVESTIGATOR , ACCOUNTANT , ASSOCIATE RETIREMENT BENEFITS EXAMINER ,
There are 37 different job titles

In [12]:
# Question 11

max_OT = nyc_payroll["Total_OT_Paid"].max()


nyc_payroll[nyc_payroll['Total_OT_Paid'] == max_OT][['First_Name','Last_Name','Total_OT_Paid']]

     First_Name  Last_Name  Total_OT_Paid
1228     DANIEL  HOCK, JR.      123664.33

In [13]:
# Question 12

for x in nyc_payroll.columns:

  _miss = round(len(nyc_payroll[nyc_payroll[x].isna()])/len(nyc_payroll), 7)

  print('The percent of mising values for ' + x + ' is: ' + str(_miss)[2:4] + '%' )

The percent of mising values for Fiscal_Year is: 0%
The percent of mising values for Payroll_Number is: 30%
The percent of mising values for Agency_Name is: 0%
The percent of mising values for Last_Name is: 00%
The percent of mising values for First_Name is: 00%
The percent of mising values for Mid_Init is: 41%
The percent of mising values for Agency_Start_Date is: 0%
The percent of mising values for Work_Location_Borough is: 07%
The percent of mising values for Title_Description is: 0%
The percent of mising values for Leave_Status_as_of_June_30 is: 0%
The percent of mising values for Base_Salary is: 0%
The percent of mising values for Pay_Basis is: 0%
The percent of mising values for Regular_Hours is: 0%
The percent of mising values for Regular_Gross_Paid is: 0%
The percent of mising values for OT_Hours is: 0%
The percent of mising values for Total_OT_Paid is: 0%
The percent of mising values for Total_Other_Pay is: 0%
The percent of mising values for Total_Compensation is: 0%

In [14]:
# Question 13

nyc_payroll['Last_Name'].fillna('UNKNOWN')

0            SLOMA
1            GARFO
2       LAGRANDIER
3          BRENGEL
4           COOPER
           ...
4995     LO MEDICO
4996         BLAKE
4997      MCKENZIE
4998        NORRIS
4999          BYER
Name: Last_Name, Length: 5000, dtype: object

# Part 2

In [15]:
# new data frame for part 2
NFL2022_stuffs = pd.read_csv('https://bcdanl.github.io/data/NFL2022_stuffs.csv')

In [16]:
# Question 14
# In DataFrame, NFL2022_stuffs, remove observations for which the value of posteam is missing.

NFL2022_stuffs[NFL2022_stuffs['posteam'].notna()]

,play_id,game_id,drive,week,posteam,qtr,down,half_seconds_remaining,pass,wp
1,43,2022_01_BAL_NYJ,1.0,1,NYJ,1,NaN,1800,0,0.546262
2,68,2022_01_BAL_NYJ,1.0,1,NYJ,1,1.0,1796,0,0.546969
3,89,2022_01_BAL_NYJ,1.0,1,NYJ,1,1.0,1769,1,0.572573
4,115,2022_01_BAL_NYJ,1.0,1,NYJ,1,2.0,1765,0,0.554537
5,136,2022_01_BAL_NYJ,1.0,1,NYJ,1,3.0,1741,1,0.540167
...,...,...,...,...,...,...,...,...,...,...
50139,3968,2022_22_KC_PHI,17.0,22,KC,4,2.0,96,0,0.813623
50141,3996,2022_22_KC_PHI,17.0,22,KC,4,3.0,54,0,0.817793
50143,4024,2022_22_KC_PHI,17.0,22,KC,4,4.0,11,0,0.782616
50144,4050,2022_22_KC_PHI,18.0,22,PHI,4,NaN,8,0,0.087426
50145,4072,2022_22_KC_PHI,18.0,22,PHI,4,1.0,6,1,0.127170

In [17]:
# Question 15
#Calculate the mean value of pass for the BUF posteam when all the following conditions hold:
    #wp is greater than 20% and less than 75%;
    #down is less than or equal to 2; and
    #half_seconds_remaining is greater than 120.
_spec = NFL2022_stuffs.query(" wp < .75 & wp > .20 & down <= 2 & half_seconds_remaining > 120 ")

_spec[_spec['posteam'] == 'BUF']['pass'].mean()

0.6043956043956044

In [18]:
# Question 16

NFL2022_epa = pd.read_csv('https://bcdanl.github.io/data/NFL2022_epa.csv')

NFL2022_stuffs_EPA = pd.concat([NFL2022_stuffs, NFL2022_epa['passer'], NFL2022_epa['receiver'], NFL2022_epa['epa']])

NFL2022_stuffs_EPA[NFL2022_stuffs_EPA['passer'].notna()]

,play_id,game_id,drive,week,posteam,qtr,down,half_seconds_remaining,pass,wp,passer,receiver,epa
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J.Flacco,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J.Flacco,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L.Jackson,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L.Jackson,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L.Jackson,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P.Mahomes,NaN,NaN
46417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P.Mahomes,NaN,NaN
46419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P.Mahomes,NaN,NaN
46420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P.Mahomes,NaN,NaN
46426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J.Hurts,NaN,NaN

# Part 3

In [26]:
# new dataframe for part 3
trashwheel = pd.read_csv('https://bcdanl.github.io/data/trashwheel.csv')
trashwheel

,ID,Name,Dumpster,Month,Year,Date,Weight,Volume,PlasticBottles,Polystyrene,CigaretteButts,GlassBottles,PlasticBags,Wrappers,SportsBalls,HomesPowered
0,mister,Mister Trash Wheel,1,May,2014,5/16/2014,4.31,18,1450.0,1820.0,126000.0,72.0,584.0,1162.0,7.0,0
1,mister,Mister Trash Wheel,2,May,2014,5/16/2014,2.74,13,1120.0,1030.0,91000.0,42.0,496.0,874.0,5.0,0
2,mister,Mister Trash Wheel,3,May,2014,5/16/2014,3.45,15,2450.0,3100.0,105000.0,50.0,1080.0,2032.0,6.0,0
3,mister,Mister Trash Wheel,4,May,2014,5/17/2014,3.10,15,2380.0,2730.0,100000.0,52.0,896.0,1971.0,6.0,0
4,mister,Mister Trash Wheel,5,May,2014,5/17/2014,4.06,18,980.0,870.0,120000.0,72.0,368.0,753.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,gwynnda,Gwynnda Trash Wheel,215,December,2023,12/27/23,3.96,15,500.0,40.0,1000.0,NaN,40.0,750.0,NaN,66
989,gwynnda,Gwynnda Trash Wheel,216,December,2023,12/27/23,3.38,15,1200.0,90.0,1200.0,NaN,60.0,1000.0,NaN,56
990,gwynnda,Gwynnda Trash Wheel,217,December,2023,12/28/23,4.02,15,180.0,24.0,360.0,NaN,40.0,400.0,NaN,67
991,gwynnda,Gwynnda Trash Wheel,218,December,2023,12/29/23,3.49,15,0.0,0.0,0.0,NaN,0.0,0.0,NaN,58
992,gwynnda,Gwynnda Trash Wheel,219,December,2023,12/29/23,3.29,15,0.0,0.0,0.0,NaN,0.0,0.0,NaN,55

In [39]:
# Question 17

keeping = ["Name", "Date", "Dumpster",'PlasticBottles', 'Polystyrene','CigaretteButts','GlassBottles', 'PlasticBags',"Wrappers", 'SportsBalls']


trashwheel_long = trashwheel[keeping].melt(id_vars = ["Name", 'Date', 'Dumpster'],
                                  var_name= 'Trash_Type',
                                  value_name="Number")


trashwheel_long.sort_values(["Name","Date","Dumpster","Trash_Type"], ascending= (True,True,True,True))

                       Name     Date  Dumpster      Trash_Type  Number
2740    Captain Trash Wheel  1/30/20        12  CigaretteButts  3300.0
3733    Captain Trash Wheel  1/30/20        12    GlassBottles     NaN
4726    Captain Trash Wheel  1/30/20        12     PlasticBags  1480.0
754     Captain Trash Wheel  1/30/20        12  PlasticBottles  1850.0
1747    Captain Trash Wheel  1/30/20        12     Polystyrene   950.0
...                     ...      ...       ...             ...     ...
4696  Professor Trash Wheel   9/9/22        96     PlasticBags   180.0
724   Professor Trash Wheel   9/9/22        96  PlasticBottles  3400.0
1717  Professor Trash Wheel   9/9/22        96     Polystyrene   270.0
6682  Professor Trash Wheel   9/9/22        96     SportsBalls     NaN
5689  Professor Trash Wheel   9/9/22        96        Wrappers  4200.0

[6951 rows x 5 columns]